.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: inherit;
  transition: all 0.3s ease; /* Yumuşak geçişi etkinleştir */
  text-decoration: none;
}

.imageContainer {
  position: relative; /* Yazıyı görüntü üzerinde konumlandırmak için gerekli */
  width: 60%;
  max-width: 600px;
  height: auto;
  max-height: 250px;
  overflow: hidden; /* Taşan kısımları gizle */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative; /* Yazıyı görüntü üzerinde konumlandırmak için gerekli */
  width: 40%;
  height: 100%;
  font-size: large;
  text-decoration: none;
  color: black;
}

.rightSection h3 {
  margin: 0;
}

/* Resim */
.croppedImage {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Görüntüyü keserek kutuya sığdırır */
  /* filter: blur(2px); */
  transform: scale(1); /* Varsayılan boyut */
  transition: transform 0.3s ease-in-out; /* Hem hover sırasında hem de sonrası için geçiş */
}

.imageContainer:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.linkButton {
  background-color: #f1f1f1;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.linkButton:hover {
  background-color: black;
  color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Mobil için düzenleme */
@media (max-width: 768px) {
  .imageContainer {
    max-width: 100%;
    height: 175px; /* Mobilde daha küçük kesim yap */
  }
  .rightSection h3 {
    font-size: small;
    margin: 0;
  }

  .linkButton {
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    /* margin: 4px 2px; */
    cursor: pointer;
  }
}
