.card {
  width: 100%;
  height: 509px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* border-radius: 10px; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: inherit;
  transition: all 0.3s ease; /* Yumuşak geçişi etkinleştir */
  text-decoration: none;
  box-sizing: border-box;
  font-size: medium;
}

.imageContainer {
  position: relative; /* Yazıyı görüntü üzerinde konumlandırmak için gerekli */
  width: 100%;
  /* max-width: 600px; */
  height: 100%;
  /* max-height: 600px; */
  overflow: hidden; /* Taşan kısımları gizle */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  position: relative; /* Yazıyı görüntü üzerinde konumlandırmak için gerekli */
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: large;
}

.rightSection h3 {
  margin: 0;
  font-weight: 500;
}

/* Resim */
.croppedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.text {
  font-size: small;
  color: gray;
}

.imageContainer:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.linkButton {
  background-color: #f1f1f1;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.linkButton:hover {
  background-color: black;
  color: #f1f1f1;
}

.linkTag {
  text-decoration: none;
  color: black;
  font-size: medium;
}

/* Mobil için düzenleme */
@media (max-width: 768px) {
  .imageContainer {
    max-width: 100%;
    height: 250px; /* Mobilde daha küçük kesim yap */
  }
  .rightSection h3 {
    font-size: small;
    margin: 0;
  }

  .card {
    height: 400px;
  }

  .linkButton {
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    /* margin: 4px 2px; */
    cursor: pointer;
  }
}
